/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    user-select: none;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}